{% extends '@PSNDLMain/base.html.twig' %}
{% form_theme form ':Form:form_errors.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block psndl_body %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="middle-box text-center loginscreen animated fadeInDown">

        <h2><strong>Register to PSNDL</strong></h2>

        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'm-t'}}) }}

        <div class="form-group">
            {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans}}) }}
            {{ form_errors(form.username) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans }}) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans}}) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation' |trans}}) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>


        <div>
            <button type="submit" class="btn btn-sm btn-white btn-block">{{ 'registration.submit'|trans }}</button>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}