{% extends '@PSNDLMain/base.html.twig' %}


{% block psndl_body %}

    <div class="middle-box text-center loginscreen animated fadeInDown">

        <h2><strong>Login</strong></h2>

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form class="m-t" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="form-group">
                <input class="form-control" placeholder="Username" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" id="password" name="_password" required="required"/>
            </div>
            <div class="form-group">
                Remember me : <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

            <a href="{{ path('fos_user_resetting_request') }}">
                <small>Forgot password?</small>
            </a>

            <p class="text-muted text-center">
                <small>Do not have an account?</small>
            </p>
            <a class="btn btn-sm btn-white btn-block" href="{{ path('fos_user_registration_register') }}">Create an account</a>
        </form>
    </div>
{% endblock psndl_body %}