{% extends 'PSNDLMainBundle::base.html.twig' %}
{% form_theme form ':Form:form_errors.html.twig' %}

{% block psndl_body %}

    <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
        <br/>

        <h1 class="text-center login-title">Add Package</h1>
        <br/>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.downloadURL, 'Download URL', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.downloadURL, {'attr': {'class': 'form-control'}, 'id': 'txt_downloadURL'}) }}
                {{ form_errors(form.downloadURL) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.packageID, 'Package ID', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.packageID, {'attr': {'class': 'form-control'}, 'id': 'txt_packageID'}) }}
                {{ form_errors(form.packageID) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.title, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.title, { 'attr': {'class': 'help-block'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.category, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.category) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.region, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.region) }}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">License type:</label>

            <div class="col-sm-9">
                <label class="control-label text-info" id="lbl_license_type">Filled automatically</label>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.rapName, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.rapName, {'attr': {'class': 'form-control'}, 'id': 'txt_rapName'}) }}
                {{ form_errors(form.rapName) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.rapData, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.rapData, {'attr': {'class': 'form-control'}, 'id': 'txt_rapData'}) }}
                {{ form_errors(form.rapData) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.description, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.description) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.author, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.author) }}
            </div>
        </div>

        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary', 'style':' float:right'}}) }}

        {{ form_rest(form) }}

        {{ form_end(form) }}

    </div>

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}

    <script>
        //Global variables
        var timerID;   //We will use a timer to make sure the event is not before the key up but after.
        //Also, the event will not be thrown until the user is done typing.

        $("#txt_downloadURL").on("input", function(e) {
            var value = $(this).val();
            if ($(this).data("lastval") != value) {
                clearTimeout(timerID);
                timerID = setTimeout(function() {
                    var httpRequest = new XMLHttpRequest();
                    httpRequest.open("GET", "{{ url('psndl_main_package_info_api') ~ '/' }}" + $('#txt_downloadURL').val(), false);
                    httpRequest.send();
                    var response = httpRequest.responseText;
                    if (response.length <= 10) {
                        $("#txt_downloadURL").val('Invalid URL');
                        return;
                    }
                    var json = jQuery.parseJSON(response);

                    $('#txt_packageID').val(json.PackageID);
                    $('#txt_rapName').val(json.RapName);
                    $('#lbl_license_type').text(json.LicenseName);

                    if (!json.RapRequired) {
                        $('#txt_rapName').prop('disabled', true);
                        $('#txt_rapData').prop('disabled', true);
                        $('#txt_rapName').val('');
                    }

                }, 300);
            };
        });
    </script>


{% endblock %}