<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}PSNDLv3{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('assets/inspinia/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('assets/inspinia/font-awesome/css/font-awesome.css') }}" type="text/css" rel="stylesheet">

        <link href="{{ asset('assets/inspinia/css/animate.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('assets/inspinia/css/style.css') }}" type="text/css" rel="stylesheet">


        <link href="{{ asset('assets/style.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="fixed-sidebar">

<div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <ul class="nav metismenu" id="side-menu">
                {% block sidebar %}{% endblock %}
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        {% block topbar %}{% endblock %}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                <strong>Sharing is the key</strong>
            </div>
            <div>
                <strong>Copyright &copy; 2015-{{ "now"|date("Y") }} - Jamesst20</strong>
            </div>
        </div>

    </div>
</div>

{% block javascripts %}
    <!-- Mainly scripts -->
    <script src="{{ asset('assets/inspinia/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('assets/inspinia/js/bootstrap.min.js') }}"></script>
{% endblock %}

<!-- Mainly scripts -->
<script src="{{ asset('assets/inspinia/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ asset('assets/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>


<!-- Custom and plugin javascript -->
<script src="{{ asset('assets/inspinia/js/inspinia.js') }}"></script>
<script src="{{ asset('assets/inspinia/js/plugins/pace/pace.min.js') }}"></script>
</body>
</html>
