<li class="nav-header">
    <div class="dropdown profile-element">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                {% if app.user %}
                    <span class="block m-t-xs"> <strong class="font-bold">{{ app.user.username  }}</strong></span>
                    <span class="text-muted text-xs block">{{ role }}<b class="caret"></b></span>
                {% else %}
                    <span class="text-muted text-xs block"> <strong class="font-bold">Not Connected</strong> <b class="caret"></b></span>
                {% endif %}
            </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            {% if app.user %}
                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
            {% else %}

                <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="logo-element">
        IN+
    </div>
</li>

<li>
    <a href="{{ path('psndl_main_homepage') }}">
        <i class="fa fa-lg fa-home"></i>
        <span class="nav-label">Home Page</span>
    </a>
</li>

<li>
    <a href="{{ path('psndl_main_packages') }}">
        <i class="fa fa-lg fa-th"></i>
        <span class="nav-label">Packages</span>
    </a>
</li>

<li>
    <a href="{{ path('psndl_main_packages_under_approval') }}">
        <i class="fa fa-lg fa-th-large"></i>
        <span class="nav-label">Under Approval</span>
    </a>
</li>

<li>
    <a href="{{ path('psndl_main_add_package') }}">
        <i class="fa fa-lg fa-plus"></i>
        <span class="nav-label">Submit Package</span>
    </a>
</li>

<li>
    <a href="{{ path('psndl_main_download_db') }}">
        <i class="fa fa-lg fa-download"></i>
        <span class="nav-label">Download Database</span>
    </a>
</li>

<li>
    <a href="{{ path('psndl_main_faq') }}">
        <i class="fa fa-lg fa-question-circle"></i>
        <span class="nav-label">FAQ</span>
    </a>
</li>

<li>
    <a href="{{ path('psndl_main_help_us') }}">
        <i class="fa fa-lg fa-beer"></i>
        <span class="nav-label">Help us</span> <!-- Donate or Fork on GitLab -->
    </a>
</li>