{% block topbar %}
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    {% if app.user %}
                        <a href="{{ path('fos_user_security_logout') }}">
                            <i class="fa fa-sign-out"></i>
                            <span>Log out</span>
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">
                            <i class="fa fa-sign-in"></i>
                            <span>Log in</span>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}