{% extends 'PSNDLMainBundle::base.html.twig' %}

{% block psndl_body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="text-center p-lg">
                        <div style="font-size: 36pt">FAQ</div>
                        <small>Aka. Frequently Asked Questions</small>

                        <div>Here are some answers to few questions that are frequently asked.</div>
                        <br>

                        <div>If you wish to see more Q/A here, feel free to request me some.</div>
                    </div>
                </div>


                <div class="faq-item">
                    <div class="row">
                        <div class="col-md-12">
                            <a data-toggle="collapse" href="#faq1" class="faq-question">How do I activate a C00/Demo that has a free license?</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="faq1" class="panel-collapse collapse ">
                                <div class="faq-answer">
                                    <p>
                                        Activating a C00/Demo package is very easy and doesn't require a rap file. It can be done using
                                        <strong>ReActPSN</strong> or <strong>PSNPatch</strong>.
                                    </p>

                                    <p>
                                        <strong>ReActPSN : </strong> Run the homebrew while pressing and holding circle on your controller.
                                    </p>

                                    <p>
                                        <strong>PSNPatch : </strong> Run PSNPatch and press R1. It should displays a list of the games that have been
                                        unlocked.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="faq-item">
                    <div class="row">
                        <div class="col-md-12">
                            <a data-toggle="collapse" href="#faq2" class="faq-question">How do I activate a PSN package with a RAP file?</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="faq2" class="panel-collapse collapse ">
                                <div class="faq-answer">
                                    <p>
                                        Activating a package using a rap file requires few steps. It can be done with
                                        <strong>ReActPSN</strong> or <strong>PSNPatch</strong>. However, I will only describe
                                        how to do it with <strong>ReActPSN</strong>.
                                    </p>

                                    <ol>
                                        <li>Format a USB key in FAT32.</li>
                                        <li>Create the folder 'exdata' at the root of the USB key.</li>
                                        <li>Move the corresponding RAP file for the games you want to activate in the exdata folder.
                                            <div style="color: red">Warning: Do not rename rap files ! You need to leave their original ugly name.</div>
                                        </li>
                                        <li>Connect the USB key in the right USB port of the PS3 (the closest to the bluray drive).</li>
                                        <li>Delete the ReActPSN user on your PS3 if it exists.</li>
                                        <li>Create the account 'aa' (without quotes) and open the account.</li>
                                        <li>Run ReActPSN and the screen should go black, then you should hear beeps and then the PS3 should reboot.</li>
                                        <li>The user 'aa' should be gone now and the account 'ReActPSN' automatically created.</li>
                                        <li>You're done !</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

