{% extends 'PSNDLMainBundle::base.html.twig' %}

{% block psndl_body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="text-center p-lg">
                        <div style="font-size: 36pt">HELP US</div>
                    </div>
                </div>

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="text-center p-lg">
                        <div style="font-size: 24pt">Donate</div>
                        <p>
                            PSNDL is a completly free service, if you paid something to use it, get a refund as fast as possible.
                        </p>

                        <p>
                            Keep in mind that I [Jamesst20] spent a lot of time in building this website and I never earnt a penny
                            by doing so. Web hosting + a domain is not free. That means I have a bill to pay every month to keep
                            PSNDL running.
                        </p>

                        <p>
                            The best way to thank me and show your interest is to get me a cup of coffee. Please, do not donate against
                            your will.
                        </p>

                        <div>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="WJJNWUAB85W44">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/fr_CA/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </div>
                    </div>
                </div>

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="text-center p-lg">
                        <div style="font-size: 24pt">Contribute</div>
                        <p>
                            PSNDL is a completly open source project. Donating is not the only way you can contribute and thank me.
                        </p>

                        <p>
                            You are free to fork me on GitLab, add new features or do some bug fixes and request me a pull request anytime
                            to add your changes.
                        </p>

                        <p>
                            <iframe src="http://htmlpreview.github.io/?https://github.com/AurelienLourot/fork-me-on-gitlab/master/button.html?href=https://gitlab.com/Jamesst20/PSNDLv3"
                                    frameborder="0" scrolling="0" width="180px" height="35px"></iframe>
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

