{% extends 'PSNDLMainBundle::base.html.twig' %}

{% block psndl_body %}
    <div class="jumbotron white-bg">
        <h1>Welcome ! </h1>
        <p>
            PSNDL, which stands for Playstation Store Download Content was previously only an online database. Things
            have changed now, PSNDL is now much more than that. Backed by a huge community, things can only get better.
        </p>
    </div>
{% endblock %}

